data/*.csv filter=lfs diff=lfs merge=lfs -text
data/*.txt filter=lfs diff=lfs merge=lfs -text
data/*.tsv filter=lfs diff=lfs merge=lfs -text
data/gcvs5.txt filter=lfs diff=lfs merge=lfs -text
data/crossid.txt filter=lfs diff=lfs merge=lfs -text
data/hip_ccdm.tsv filter=lfs diff=lfs merge=lfs -text
data/wds_summ.txt filter=lfs diff=lfs merge=lfs -text
data/wds_notes.txt filter=lfs diff=lfs merge=lfs -text
data/wds_refs.txt filter=lfs diff=lfs merge=lfs -text
data/orb6_orbits.txt filter=lfs diff=lfs merge=lfs -text
data/dust/*.bin filter=lfs diff=lfs merge=lfs -text
